{{extend 'layout.html'}}
{{=plugin_wiki.embed_page('home') or ""}}
<br style="clear: both;" />
{{for symposium in symposiums:}}
    {{
    authors = set()
    mentors = set()
    paper_count = public_paper_count = 0
    for papers in symposium.paper.select():
        paper_count+=1
        if papers.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:
            public_paper_count+=1
            pass
        authors = authors.union(papers.authors)
        mentors = mentors.union(papers.mentors)
    pass
    }}

<div>
{{if auth.user:}}
    {{if auth.user.id in (symposium.attendees or []):}}
        <h2 style="display: inline;">{{=symposium.name}}</h2> ({{=T("You are Attending")}})<br />
    {{else:}}
        <h2 style="display: inline;">{{=symposium.name}}</h2>
        {{=A(T("Attend"), _href=URL("symposium","attend",args=symposium.sid), _class="button")}}<br />
    {{pass}}
{{else:}}
<h2>{{=symposium.name}}</h2>
{{pass}}

{{=DIV(
    A(SPAN(_class="icon book"), T("Papers"), _href=URL("papers","index",args=symposium.sid), _class="pill button left"),
    A(SPAN(_class="icon user"), T("Participants"), _href=URL("people","index",args=symposium.sid), _class="pill button middle"),
    A(SPAN(_class="icon clock"), T("Agenda"), _href=URL("agenda","index",args=symposium.sid), _class="pill button right"),
)}}
{{=MARKMIN(symposium.extra_info)}}
<table>
  <tr><td>{{=T("Registration")}}</td><td>{{=symposium.reg_start.strftime(DATE_TIME_FORMAT)}} {{=T("to")}} {{=symposium.reg_end.strftime(DATE_TIME_FORMAT)}}</td></tr>
  <tr><td>{{=T("Event Date")}}</td><td>{{=symposium.event_date.strftime(DATE_FORMAT)}}</td></tr>
  <tr><td>{{=T("Published Papers")}}</td><td>{{=public_paper_count}}</td></tr>
  <tr><td>{{=T("Submitted Papers")}}</td><td>{{=paper_count}}</td></tr>
  <tr><td>{{=T("Authors")}}</td><td>{{=len(authors)}}</td></tr>
  <tr><td>{{=T("Mentors")}}</td><td>{{=len(mentors)}}</td></tr>
  <tr><td>{{=T("Attendees")}}</td><td>{{=len(symposium.attendees or [])}}</td></tr>
</table>
</div>
{{pass}}
<br style="clear: both;" />
