{{extend 'layout.html'}}
{{=plugin_wiki.embed_page('home') or ""}}
<br style="clear: both;" />
{{for symposium in symposiums:}}

<div style="padding-bottom: 20px;">
<h2 style="font-size: 130%;">{{=symposium.name}}</h2>
{{=T("Event Date")}}: {{=symposium.event_date.strftime(DATE_FORMAT)}}
{{if symposium.reg_start < request.now and request.now < symposium.reg_end:}}
    {{=B(T("Accepting Submissions"), _style="color: #f00;")}}
    {{=B(A(T("Submit to this symposium"), _href=URL("papers","submit", vars={"symp":symposium.sid})))}}
{{pass}}
{{=DIV(
    A(SPAN(_class="icon magnifier"), T("Symposium Details"), _href=URL("view",args=symposium.sid), _class="pill button left"),
    A(SPAN(_class="icon book"), T("Papers"), _href=URL("papers","index",args=symposium.sid), _class="pill button middle"),
    A(SPAN(_class="icon user"), T("Participants"), _href=URL("people","index",args=symposium.sid), _class="pill button middle"),
    A(SPAN(_class="icon clock"), T("Agenda"), _href=URL("agenda","index",args=symposium.sid), _class="pill button right"),
)}}

</div>
{{pass}}
<br style="clear: both;" />
