{{extend 'layout.html'}}
{{if auth.has_membership("Symposium Admin"):}}
{{=DIV(
    A(SPAN(_class="icon pen"),"Edit Symposium",
        _href=URL("editsymp","edit",args=symposium.id),
        _class="button left"),
    A(SPAN(_class="icon clock"),"Manage Agenda",
        _href=URL("agenda","edit",args=symposium.id),
        _class="button right"),
    A(SPAN(_class="icon mail"),"Email Participants",
        _href=URL("editsymp","email",args=symposium.id),
        _class="button right"),
    _style="float: right;"
    )}}
{{pass}}
<h1>{{=symposium.name}}</h1>
{{if symposium.reg_start < request.now and request.now < symposium.reg_end:}}
    {{=B(T("Accepting Submissions"), _style="color: #f00;")}}
    {{=B(A(T("Submit to this symposium"), _href=URL("papers","submit", vars={"symp":symposium.sid})))}}
{{pass}}
    
    {{
    authors = set()
    mentors = set()
    paper_count = public_paper_count = 0
    for papers in symposium.paper.select():
        paper_count+=1
        if papers.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:
            public_paper_count+=1
            pass
        authors = authors.union(papers.authors)
        mentors = mentors.union(papers.mentors)
    pass
    }}
    
    {{=MARKMIN(symposium.extra_info)}}
    <h2>Event Information</h2>
    <h3>Important Dates</h3>
    <table width="100%">
        <tr>
            <td>{{=T("Event Date")}}</td>
            <td>{{=symposium.event_date.strftime(DATE_FORMAT)}}</td>
        </tr>
        <tr>
            <td>{{=T("Registration")}}</td>
            <td>{{=symposium.reg_start.strftime(DATE_TIME_FORMAT)}} - {{=symposium.reg_end.strftime(DATE_TIME_FORMAT)}}</td>
        </tr>
    </table>
    <h3>Sessions</h3>
    {{for row in db(
            (db.timeblock.symposium == symposium.id) &
            (db.session.timeblock == db.timeblock.id) &
            (db.room.id == db.session.room)
         ).select(
             db.session.id,
             db.session.name,
             db.session.theme,
             db.session.judges,
             db.timeblock.start_time,
             db.timeblock.desc,
             db.room.name,
             db.room.location,
             orderby=db.timeblock.start_time):}}
        <table width="100%" style="margin: 5px;">
            <tr>
                <th colspan=3 style="background: #ddd;">{{=A(row.session.name,_href=URL('agenda','session',args=row.session.id))}}</th>
            </tr>
            <tr>
                <td></td><td></td>
                <td rowspan=4 width="40%;">
                <b>Papers</b>
                <ul>
                {{for paper in db(
                        (db.paper.session==row.session.id) &
                        get_public_filter()
                        ).select(db.paper.id,db.paper.title):}}
                    {{=LI(A(paper.title, _href=URL("papers","view",args=paper.id)))}}
                    
                {{pass}}
                </ul>
                </td>
            </tr>
            <tr>
                <td width="15%">Theme</td>
                <td>{{=row.session.theme}}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{=row.timeblock.start_time.strftime(TIME_FORMAT)}}<br />{{=row.timeblock.desc}}</td>
            </tr>
            <tr>
                <td>Room</td>
                <td>{{=row.room.name}}<br />{{=row.room.location}}</td>
            </tr>
            <tr>
                <td>Judges</td>
                <td>
                    <ul>
                        {{for x in row.session.judges or []:}}
                            {{=LI(
                                A( db.auth_user._format % db.auth_user(x),
                                    _href=URL("people","profile",args=x)))}}
                        {{pass}}
                    </ul>
                </td>
            </tr>
        </table>
    {{pass}}
    
    <h2>Event Statistics</h2>
    <table>
        <tr>
            <td>{{=T("Published Papers")}}</td>
            <td>{{=public_paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Submitted Papers")}}</td>
            <td>{{=paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Authors")}}</td>
            <td>{{=len(authors)}}</td>
        </tr>
        <tr>
            <td>{{=T("Mentors")}}</td>
            <td>{{=len(mentors)}}</td>
        </tr>
    </table>


{{#=BEAUTIFY(response._vars)}}
