{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<div style="border: 1px solid #eee;">
{{if auth.has_membership("Symposium Admin"):}}
{{=DIV(
    A(SPAN(_class="icon pen"),"Edit Symposium",
        _href=URL("editsymp","edit",args=symposium.id)+"?KeepThis=true&TB_iframe=true&height=450&width=600",
        _class="button left thickbox"),
    A(SPAN(_class="icon mail"),"Email Participants",
        _href=URL("editsymp","email",args=symposium.id)+"?KeepThis=true&TB_iframe=true&height=350&width=400",
        _class="button right thickbox"),
    _style="float: right;"
    )}}
{{pass}}
<h1 style="padding-left: 10px;">{{=symposium.name}}</h1>
<div style="padding-left: 10px;">
{{if symposium.reg_start < request.now and request.now < symposium.reg_end:}}
    {{=B(T("Accepting Submissions"), _style="color: #080;")}}
    {{=B(A(T("Submit to this symposium"), _href=URL("papers","submit", vars={"symp":symposium.sid})))}}
{{pass}}
    
    {{
    authors = set()
    mentors = set()
    paper_count = public_paper_count = 0
    for papers in symposium.paper.select():
        paper_count+=1
        if papers.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:
            public_paper_count+=1
            pass
        authors = authors.union(papers.authors)
        mentors = mentors.union(papers.mentors)
    pass
    }}
    
    {{=MARKMIN(symposium.extra_info)}}
    </div>
    <table width="90%" style="margin:auto;">
        <tr>
            <td>{{=T("Event Date")}}</td>
            <td>{{=symposium.event_date.strftime(DATE_FORMAT)}}</td>
        </tr>
        <tr>
            <td>{{=T("Registration")}}</td>
            <td>{{=symposium.reg_start.strftime(DATE_TIME_FORMAT)}} - {{=symposium.reg_end.strftime(DATE_TIME_FORMAT)}}</td>
        </tr>
    </table>
    &nbsp;
    </div>
    
<hr style="clear: both;">

<div style="background: #eee;">
{{if auth.has_membership("Symposium Admin"):}}
    {{=DIV(A(SPAN(_class="icon clock"),"Scheduling Information",
        _href=URL("editsymp","manage_sessions",args=symposium.id), #+"?KeepThis=true&TB_iframe=true&height=450&width=600",
        _class="button middle"),# thickbox"),
    A(SPAN(_class="icon plus"),"Schedule Papers",
        _href=URL("agenda","edit",args=symposium.id),
        _class="button right"),
    _style="float: right;")
        }}
{{pass}}  
<h2 style="padding-left: 10px;">Sessions</h2>
{{=A(T("View Agenda"), _href=URL('agenda','index',args=symposium.sid), _style="padding-left: 10px;")}}
{{room_count = symposium.room.count()}}
<style>
table, tr, td, th{
    border: 1px solid black;
}
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }

</style>

{{rooms = symposium.room.select(db.room.name, db.room.id, db.room.location, orderby=db.room.name)}}
{{timeblocks = symposium.timeblock.select(orderby=db.timeblock.start_time)}}

<table border=1 width="98%" style="margin:auto;">
    <tr>
        <th width="10%">Time</th>
        {{for room in rooms:}}
            <th width="{{=90/len(rooms)}}%">{{=room.name}}<br><span style="font-size: 80%">{{=room.location}}</span></th> 
        {{pass}}
    </tr>

    {{for timeblock in timeblocks:}}
    <tr>
        <td>{{=timeblock.start_time.strftime(TIME_FORMAT)}}<br><span style="font-size: 80%">{{=timeblock.desc}}</span></td>
    {{for room in rooms:}}
        {{sess_block = db(
            (db.session.room == room.id) & (db.session.timeblock == timeblock.id) 
            ).select(db.session.id,db.session.name, db.session.theme).first()}}
        {{if sess_block:}}
            <td>
                <div style="font-weight: bold; text-decoration: underline; text-align: center;">{{=A(sess_block.name, _href=URL('agenda','view_session', args=sess_block.id))}}</div>
                <div style="font-size: 80%; line-height: 100%;">
                {{if sess_block.theme:}}<b>Theme:</b> {{=sess_block.theme}}<br />{{pass}}
                <b>Papers:</b> {{=sess_block.paper.count()}}<br />
                <ul>
                {{for paper in sess_block.paper.select(db.paper.title, db.paper.id, orderby=db.paper.session_pos):}}
                {{=LI(
                    A(paper.title[:20]+"..." if len(paper.title) > 20 else paper.title , _href=URL('papers','view',args=paper.id), _title=paper.title)
                    )}}
                {{pass}}
                </ul>

                </div>
            </td>
        {{else:}}
            <td></td>
        {{pass}}
    {{pass}}
    </tr>
{{pass}}
</table>
&nbsp;
    </div>
    
    <h2>Event Statistics</h2>
    <table>
        <tr>
            <td>{{=T("Published Papers")}}</td>
            <td>{{=public_paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Submitted Papers")}}</td>
            <td>{{=paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Authors")}}</td>
            <td>{{=len(authors)}}</td>
        </tr>
        <tr>
            <td>{{=T("Mentors")}}</td>
            <td>{{=len(mentors)}}</td>
        </tr>
    </table>


{{#=BEAUTIFY(response._vars)}}
