{{extend 'layout.html'}}
<h1>{{=symposium.name}}</h1>
{{if symposium.reg_start < request.now and request.now < symposium.reg_end:}}
    {{=B(T("Accepting Submissions"), _style="color: #f00;")}}
    {{=B(A(T("Submit to this symposium"), _href=URL("papers","submit", vars={"symp":symposium.sid})))}}
{{pass}}
    
    {{
    authors = set()
    mentors = set()
    paper_count = public_paper_count = 0
    for papers in symposium.paper.select():
        paper_count+=1
        if papers.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:
            public_paper_count+=1
            pass
        authors = authors.union(papers.authors)
        mentors = mentors.union(papers.mentors)
    pass
    }}
    
    {{=MARKMIN(symposium.extra_info)}}
    <table>
        <tr>
            <td>{{=T("Event Date")}}</td>
            <td>{{=symposium.event_date.strftime(DATE_FORMAT)}}</td>
        </tr>
        <tr>
            <td>{{=T("Registration")}}</td>
            <td>{{=symposium.reg_start.strftime(DATE_TIME_FORMAT)}} - {{=symposium.reg_end.strftime(DATE_TIME_FORMAT)}}</td>
        </tr>
        <tr>
            <td>{{=T("Published Papers")}}</td>
            <td>{{=public_paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Submitted Papers")}}</td>
            <td>{{=paper_count}}</td>
        </tr>
        <tr>
            <td>{{=T("Authors")}}</td>
            <td>{{=len(authors)}}</td>
        </tr>
        <tr>
            <td>{{=T("Mentors")}}</td>
            <td>{{=len(mentors)}}</td>
        </tr>
        <tr>
            <td>Sessions</td>
            <td>
            {{for row in db(
                    (db.timeblock.symposium == symposium.id) &
                    (db.session.timeblock == db.timeblock.id) &
                    (db.room.id == db.session.room)
                 ).select(
                     db.session.name,
                     db.session.theme,
                     db.session.judges,
                     db.timeblock.start_time,
                     db.timeblock.desc,
                     db.room.name,
                     db.room.location,
                     orderby=db.timeblock.start_time):}}
            <table width="100%">
                <tr>
                    <th colspan=2 style="background: #ddd;">{{=row.session.name}}</th>
                <tr>
                    <td>Theme</td>
                    <td>{{=row.session.theme}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{=row.timeblock.start_time}}<br />{{=row.timeblock.desc}}</td>
                </tr>
                <tr>
                    <td>Room</td>
                    <td>{{=row.room.name}}<br />{{=row.room.location}}</td>
                </tr>
                <tr>
                    <td>Judges</td>
                    <td>
                        <ul>
                            {{for x in row.session.judges or []:}}
                                {{=LI(
                                    A( db.auth_user._format % db.auth_user(x),
                                        _href=URL("people","profile",args=x)))}}
                            {{pass}}
                        </ul>
                    </td>
                </tr>
            </table>
            {{pass}}
            </td>
        </tr>
        </table>


{{#=BEAUTIFY(response._vars)}}
