{{right_sidebar_enabled=False}}
{{response.files.insert(2,URL('static','js/jquery.dataTables.min.js'))}}
{{response.files.insert(3,URL('static','js/ColVis.min.js'))}}
{{response.files.insert(4,URL('static','js/jquery.dataTables.rowGrouping.js'))}}
{{response.files.insert(5,URL('static','js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(6,URL('static','data_table.css'))}}
{{extend 'layout.html'}}
<style>
table tfoot input, table tfoot select{
width: 100%;
}
</style>
<script type="text/javascript" charset="utf-8">
    var oTable;

    $(document).ready(function() {
           oTable = $('#dataTable').dataTable( {
                //"bPaginate": false,
                //"bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "sDom": 'C<"clear">lfrtip',
                "bAutoWidth": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 25,
                "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 0 ] },
                        { "bVisible": false, "aTargets": [ 4 ] }
                ],
                "aaSorting": [[1, 'asc']],
                "bAutoWidth": true,
                "aLengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]]
            }).columnFilter({
                    aoColumns: [null,
                                null,
                                null,
                                { type: "text" },
                                  null,
                                { type: "select", values: ['{{=T("Author")}}','{{=T("Mentor")}}'] },
                                ]
                });
            oTable.rowGrouping({"iGroupingColumnIndex":5});

    } );
    
    function toggle_details(img, url) {
        var nTr = img.parentNode.parentNode;
        if ( img.src.match('details_close') ){
            /* This row is already open - close it */
            img.src = "{{=URL('static','images/details_open.png')}}";
            oTable.fnClose( nTr );

        }else{
            /* Open this row */
            img.src = "{{=URL('static','images/details_close.png')}}";
            $.ajax({
                url: url,
                success: function(data){
                    r = Math.floor(Math.random()*10000000);
                    d = $('<div />').html($('<div />', {id: "d_" + r}).html(data));
                    oTable.fnOpen( nTr, d.html(), 'details' );
                    web2py_trap_form(url,"d_"+r);
                    web2py_ajax_init();
                }
            });
        }
    }
</script>
<h1>{{=T("Participants")}}{{=": %s" % symp.name if symp else ""}}</h1>
<table id="dataTable" width="100%">
    <thead>
        <tr>
            <th width="75px"></th>
            <th>{{=db.auth_user.first_name.label}}</th>
            <th>{{=db.auth_user.last_name.label}}</th>
            <th>{{=db.auth_user.affiliation.label}}</th>
            <th>{{=T("Symposium")}}</th>
            <th width="75px">{{=T("Role")}}</th>
        </tr>
    </thead>
    <tbody>
    {{for data in ret:}}
        {{for key, participants in data['people'].items():}}
        {{for participant in participants:}}
            <tr>
                <td align="center">
                    <img
                        src="{{=URL('static','images/details_open.png')}}"
                        onclick="toggle_details(this,'{{=URL('people','profile',args=participant.id, vars={'minview':True})}}')">
                </td>
                <td>{{=A(participant.first_name, _href=URL('people','profile', args=participant.id))}}</td>
                <td>{{=A(participant.last_name, _href=URL('people','profile', args=participant.id))}}</td>
                <td>{{=participant.affiliation}}</td>
                <td>{{=db.symposium._format % data['symposium']}}</td>
                <td>{{=key}}</td>
            </tr>
        {{pass}}
    {{pass}}
    {{pass}}
    </tbody>
    <tfoot>
        <tr>
            <th width="25px"></th>
            <th>{{=db.auth_user.first_name.label}}</th>
            <th>{{=db.auth_user.last_name.label}}</th>
            <th>{{=db.auth_user.affiliation.label}}</th>
            <th>{{=T("Symposium")}}</th>
            <th>{{=T("Role")}}</th>
        </tr>
    </tfoot>
</table>
