{{extend 'layout.html'}}
{{include 'blocks/paper_block.html'}}
{{show_moderation=show_discription=show_action_buttons=False}}

{{=IMG(_style="float: right;", _src=URL('default','thumb',args=[200,300,profile_picture])) if profile_picture else ""}}
<h1>{{=name}}</h1>
<em>Email: {{=email.replace("@", " @ ")}}</em><br />
<em>{{=affiliation}}</em><br />
{{=A(web_page, _href=web_page) if web_page else ""}}<br />

{{=MARKMIN(short_profile)}}

{{papers = db(db.paper.authors.contains(id)).select()}}
{{if papers:}}
    <h2 style="clear: both;">{{=T("My Papers")}}</h2>
    {{for paper in papers:}}
       {{if paper.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:}}
           {{paper_block()}}
        {{pass}}
    {{pass}}
{{pass}}

{{mentors = db(db.paper.mentors.contains(id)).select()}}
{{if mentors:}}
    <h2 style="clear: both;">{{=T("Papers I mentored")}}</h2>
    {{for paper in mentors:}}
       {{if paper.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:}}
           {{paper_block()}}
        {{pass}}
    {{pass}}
{{pass}}

{{symposiums = db(db.symposium.attendees.contains(id)).select()}}
{{if symposiums:}}
    <h2 style="clear: both;">{{=T("Symposiums")}}</h2>
    <ul>
    {{for symposium in symposiums:}}
       <li>{{=db.symposium._format % symposium}}</li>
    {{pass}}
    </ul>
{{pass}}
