{{extend 'layout.html'}}
<h1>{{=T("Manage Symposiums")}}</h1>
{{=A(SPAN(_class="icon pen"), T("New Symposium"), _href=URL('new'), _class="button pill")}}
{{for symposium in symposiums:}}
<div>
    <div><h2>{{=symposium.name}}: {{=symposium.event_date.strftime(DATE_FORMAT)}}</h2></div>
    {{=DIV(
        A(SPAN(_class="icon pen"), T("Edit"), _href=URL('edit', args=symposium.id), _class="button pill left"),
        A(SPAN(_class="icon clock"), T("Manage Agenda"),  _href=URL('agenda', 'edit', args=symposium.id), _class="button pill middle"),
        A(SPAN(_class="icon mail"), T("Email Participants"), _href=URL('email', args=symposium.id), _class="button pill right"),
    
    )}}
    <div>
    {{=T("Registration Period")}}: 
        {{=B(symposium.reg_start.strftime(DATE_TIME_FORMAT))}} -
        {{=B(symposium.reg_end.strftime(DATE_TIME_FORMAT))}}
        
        {{=MARKMIN(symposium.extra_info or T("No Extra Information Supplied"))}}
    </div>
</div>
{{pass}}
