{{show_action_buttons = show_moderation = show_discription = True}}
{{show_moderate_button = False}}
{{def paper_block():}}
<div style="border: 1px solid #EAEAEA; padding: 5px; margin: 10px;">
   <div style="width: 100%; background: #EAEAEA;">
       <div style="float: right; font-weight: bold;">
           {{=paper.status if show_moderation else ""}} {{=paper.format if paper.format else ""}}
           
       </div>
       <div style="font-weight: bold;">
           {{if paper.status in [PAPER_STATUS[x] for x in VISIBLE_STATUS]:}}
               {{=A(paper.title, _href=URL('papers','view',args=paper.id))}}
           {{else:}}
               {{=paper.title}}
           {{pass}}
       </div>
       <div style="float: right; clear: both;">{{=paper.category}}</div>
       <div>
           {{=paper.symposium.name}}
       </div>
   </div>

   <div>
       <div style="float: right;">
           {{if auth.has_membership("Symposium Admin"):}}
           {{=A(SPAN(_class="icon cog"), T("Admin Edit"), _href=URL("edit",args=paper.id), _class="button")}}
           {{pass}}
           {{if show_action_buttons:}}
               {{if paper.status in [PAPER_STATUS[x] for x in NEED_SUBMIT]:}}
                   {{=A(SPAN(_class="icon check"), T("Submit for approval"), _href=URL("submit_for_approval",args=paper.id), _class="button")}}
               {{pass}}
               {{if paper.status in [PAPER_STATUS[x] for x in EDIT_STATUS]:}}
                   {{=A(SPAN(_class="icon pen"), T("Edit"), _href=URL("edit",args=paper.id), _class="button")}}
               {{pass}}
               {{=A(SPAN(_class="icon book"), T("Attach File"), _href=URL("attach_file",args=paper.id), _class="button")}}
           {{pass}}
           {{if show_moderate_button:}}
               {{=A(SPAN(_class="icon clock"), T("Review"), _href=URL("review",args=paper.id), _class="button")}}
           {{pass}}
           {{if paper.paper:}}
           {{=A(SPAN(_class="icon downarrow"), T("Download Paper"), _href=URL('default','download', args=paper.paper), _class="button")}}
           {{else:}}
           {{=A(SPAN(_class="icon downarrow"), T("Download Not Avaliable"), _href="#", _class="button negative active")}}
           {{pass}}
       </div>
       {{if show_discription:}}
           {{=MARKMIN(paper.description)}}
       {{pass}}
       
       <div>
           {{=T("Authors:")}}<ul class="comma-separated">
           {{for x in paper.authors:}}
               <li>{{=A(db.auth_user._format % db.auth_user(x), _href=URL("people","profile",args=x))}}</li>
           {{pass}}
           </ul>
       </div>
       <div>
           {{=T("Additional Files:")}}<ul class="comma-separated">
           {{for file in paper.paper_attachment.select():}}
               <li>
                   {{=A(file.title, _href=URL("default","download",args=file.file), _title=file.comment)}}
                   {{if show_action_buttons:}}
                       [{{=A(T("EDIT"), _href=URL("attach_file", args=[paper.id, file.id]))}}]
                   {{pass}}
               </li>
           {{pass}}
           </ul>
       </div>
       <br style="clear: both;" />
       {{if show_moderation:}}
           <div>Paper Moderation History:
           {{history=paper.paper_comment.select()}}
           {{for h in history:}}
               <div style="border: 1px groove #EAEAEA; padding:5px; margin: 3px;">
                   <div style="background: #EAEAEA;">
                   <div style="float: right;">{{=h.status}}</div>
                   <div>{{=h.created.strftime(DATE_TIME_FORMAT)}} {{=A(db.auth_user._format % h.author, _href=URL("people","profile",args=h.author.id))}}</div>
                   </div>
                   {{=h.comment}}
                   <br style="clear: both;" />
               </div>
           {{pass}}
           </div>
       {{pass}}
   </div>
</div>
{{return}}
