{{show_action_buttons = show_moderation = show_discription = True}}
{{show_moderate_button = False}}
{{def paper_block():}}
<div style="border: 1px solid #EAEAEA; padding: 5px; margin: 10px;">
   <div style="width: 100%; background: #EAEAEA;">
       <div style="float: right; font-weight: bold;">
           {{=paper.status if show_moderation else ""}}
           
       </div>
       <div style="font-weight: bold;">
           {{=paper.title}}
       </div>
       <div style="float: right; clear: both;">{{=paper.category}}</div>
       <div>
           {{=paper.symposium.name}}
       </div>
   </div>

   <div>
       <div style="float: right;">
           {{if show_action_buttons:}}
               {{if paper.status in [PAPER_STATUS[x] for x in NEED_SUMBIT]:}}
                   {{=A(SPAN(_class="icon check"), T("Sumbit for approval"), _href=URL("submit_for_approval",args=paper.id), _class="button")}}
               {{pass}}
               {{if paper.status in [PAPER_STATUS[x] for x in EDIT_STATUS]:}}
                   {{=A(SPAN(_class="icon pen"), T("Edit"), _href=URL("edit",args=paper.id), _class="button")}}
               {{pass}}
           {{pass}}
           {{if show_moderate_button:}}
               {{=A(SPAN(_class="icon clock"), T("Review"), _href=URL("review",args=paper.id), _class="button")}}
           {{pass}}
           {{if paper.paper:}}
           {{=A(SPAN(_class="icon downarrow"), T("Download Paper"), _href=URL('default','download', args=paper.paper), _class="button")}}
           {{pass}}
       </div>
       {{if show_discription:}}
           {{=MARKMIN(paper.description)}}
       {{pass}}
       
       <div>
           {{for x in paper.authors:}}
               {{=A(db.auth_user._format % db.auth_user(x), _href=URL("default","userprofile",args=x))}}
           {{pass}}
       </div>
       <br style="clear: both;" />
       {{if show_moderation:}}
           <div>Paper Moderation History:
           {{history=paper.paper_comment.select()}}
           {{for h in history:}}
               <div style="border: 1px groove #EAEAEA; padding:5px; margin: 3px;">
                   <div style="background: #EAEAEA;">
                   <div style="float: right;">{{=h.status}}</div>
                   <div>{{=h.created}} {{=A(db.auth_user._format % h.author, _href=URL("default","userprofile",args=h.author.id))}}</div>
                   </div>
                   {{=h.comment}}
                   <br style="clear: both;" />
               </div>
           {{pass}}
           </div>
       {{pass}}
   </div>
</div>
{{return}}
