{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<script>
$(function() {
        $(".connectedSortable").sortable({
                connectWith: ['.connectedSortable'],
                placeholder: "ui-state-highlight",
                update: function(event, ui){
                    if(ui.sender == null && $(this).attr("id").substring(0,5) == "sess_"){
                        sess_id = $(this).attr("id").substring(5);
                        order = $(this).sortable('toArray').toString().replace(/paper_/g,"")
                    
                        $.get('{{=URL('agenda','update_order')}}', {ses_id:sess_id, order:order});
                    }
                },
                receive: function(event, ui) {
                    if($(this).attr("id").substring(0,5) == "sess_"){
                        paper_id = ui.item.attr("id").substr(6);
                        paper_index = ui.item.index();
                        sess_id = $(this).attr("id").substring(5);
                        
                        $.get('{{=URL('agenda','add_to_session')}}', {ses_id:sess_id, paper:paper_id, position:paper_index});
                    }else{
                        $.get('{{=URL('agenda','del_from_session')}}', {paper:paper_id = ui.item.attr("id").substr(6)});
                    }

            }
        });
    });
    
    $().ready(function() {
        $(".list_holder").css("height", $(window).height()-40 + "px");

    });
</script>

<table width="100%">
    <tr>
        <th width="50%">Sessions</th>
        <th width="50%">Unscheduled Papers</th>
    </tr>
    <tr>
        <td>
        <div style="height: 350px; overflow: auto; background: #fff;" class="list_holder">
        {{for row in sess:}}
            <div style="border: 1px solid black; margin: 10px;">
                <div style="border-bottom: 1px solid black;">
                    <div style="float: right;" title="{{=row.timeblock.desc}}">
                        {{=row.room.name}} - 
                        {{=row.timeblock.start_time.strftime(TIME_FORMAT)}}
                    </div>
                    <div style="font-weight: bold;">{{=row.session.name}}</div>
                </div>
            <div>
            {{=row.session.theme}}
            </div>
            <div>
                <ul class="connectedSortable" style="padding: 5px;" id="sess_{{=row.session.id}}">
                {{for paper in db(db.paper.session == row.session.id).select(db.paper.id, db.paper.title, db.paper.description, db.paper.format, db.paper.category, orderby=db.paper.session_pos):}}
                    <li id="paper_{{=paper.id}}">
                        <div style="width: 100%; border: 1px solid black; margin-bottom: 5px;">
                            <div style="background: #eee;">{{=paper.title}}</div>
                            <div style="font-size: 75%; float: right;">{{=paper.format}}</div>
                            <div style="font-size: 75%">{{=paper.category}}</div>
                            <div id="desc_{{=paper.id}}" style="display: none;">
                                {{=paper.description}}
                            </div>
                            <a href="#" onclick="$('#desc_{{=paper.id}}').toggle('slow'); return false;"
                                style="font-size: 75%">Toggle Description</a>
                        </div>
                    </li>
                {{pass}}
                </ul>
            </div>
        </div>
    {{pass}}
    </div>
        </td>
        <td>
            <div style="height: 350px; overflow: auto; background: #fff;" class="list_holder">
                <ul class="connectedSortable" style="padding: 5px;" id="paper_holder">
                {{for paper in unscheduled_papers:}}
                    <li id="paper_{{=paper.id}}">
                        <div style="width: 100%; border: 1px solid black; margin-bottom: 5px;">
                            <div style="background: #eee;">{{=paper.title}}</div>
                            <div style="font-size: 75%; float: right;">{{=paper.format}}</div>
                            <div style="font-size: 75%">{{=paper.category}}</div>
                            <a href="#" onclick="$('#desc_{{=paper.id}}').toggle('slow'); return false;"
                                style="font-size: 75%">Toggle Description</a>
                            <div id="desc_{{=paper.id}}" style="display: none;">
                                {{=paper.description}}
                            </div>
                        </div>
                    </li>
                {{pass}}
                </ul>
            </div>
        </td>
    </tr>
</table>
{{#=BEAUTIFY(response._vars)}}
