{{right_sidebar_enabled=False}}
{{response.files.insert(2,URL('static','js/jquery.dataTables.min.js'))}}
{{response.files.insert(3,URL('static','js/ColVis.min.js'))}}
{{response.files.insert(4,URL('static','js/jquery.dataTables.rowGrouping.js'))}}
{{response.files.insert(4,URL('static','js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(5,URL('static','data_table.css'))}}

{{extend 'layout.html'}}
<style>
table tfoot input, table tfoot select{
width: 100%;
}
</style>
<script type="text/javascript" charset="utf-8">
    var oTable;

    $(document).ready(function() {
           oTable = $('#agenda_dataTable').dataTable( {
                //"bPaginate": false,
                //"bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "sDom": 'C<"clear">lfrtip',
                "bAutoWidth": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 25,
                "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 0 ] }
                ],
                "bAutoWidth": true,
                "aLengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]]
            }).columnFilter({
                    aoColumns: [null,
                                { type: "select", values: ['{{=XML("','".join([ x for x in room_list]))}}'] },
                                null,
                                { type: "select", values: ['{{=XML("','".join([ x.xml() for x in PAPER_CATEGORY]))}}'] },
                                { type: "select", values: ['{{=XML("','".join([ x.xml() for x in PRESENTATION_FORMAT]))}}'] },
                                { type: "text" },
                                null,
                                null,
                                { type: "select", values: ['{{=XML("','".join([ x for x in symp_list]))}}'] },
                                ]
                });
            oTable.rowGrouping({"iGroupingColumnIndex":8});
    } );
</script>

<h1>{{=T("Agenda")}}{{=": %s" % symp.name if symp else ""}}</h1>
{{if symp:}}
    {{=T("Showing agenda from %s.", symp.name)}} {{=A(T("View All Agendas"), _href=URL())}}
{{pass}}
<table id="agenda_dataTable">
    <thead>
        <tr>
            <th width="25px;"></th>
            <th>{{=db.paper.schedule_room.label}}</th>
            <th>{{=T("Time")}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
            <th>{{=db.symposium.name.label}}</th>
        </tr>
    </thead>
    <tbody>
        {{for paper in papers:}}
        <tr>
            <td align="center">
                <img
                    src="{{=URL('static','images/details_open.png')}}"
                    onclick="toggle_details(this,'{{=URL('papers','view',args=paper.id, vars={'minview':True})}}')">
            </td>
            <td>
                {{if (paper.schedule_room >= 0 and len(paper.symposium.rooms) > paper.schedule_room):}}
                    {{=paper.symposium.rooms[paper.schedule_room]}}
                {{else:}}
                    {{=T("NOT AVAILABLE")}}
                {{pass}}
            </td>

            <td style="font-size: 80%;">
                {{if paper.scheduled and paper.schedule_start and paper.schedule_end:}}
                    <nobr>{{=paper.schedule_start.strftime(TIME_FORMAT)}}</nobr><br><nobr>{{=paper.schedule_end.strftime(TIME_FORMAT)}}</nobr>
                {{else:}}
                    {{=T("NOT AVAILABLE")}}
                {{pass}}
            </td>
            <td>
                {{=paper.category}}
            </td>
            <td>
                {{=paper.format}}
            </td>
            <td>
                {{=A(paper.title, _href=URL('papers','view',args=paper.id))}}
            </td>
            <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.authors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
           <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.mentors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
           <td>
               {{=paper.symposium.name}}
           </td>
        </tr>
        {{pass}}
    </tbody>
    <tfoot>
        <tr>
            <th width="25px;"></th>
            <th>{{=db.paper.schedule_room.label}}</th>
            <th>{{=T("Time")}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
            <th>{{=db.symposium.name.label}}</th>
        </tr>
    </tfoot>
</table>
