{{extend 'layout.html'}}
<script type="text/javascript">

$(document).ready(function() {
    d = new Date("{{=symposium.event_date}}");
    year = d.getFullYear();
    month = d.getMonth();
    day = d.getDate();
    var my_data = [
    {{offseth, offsetm = 0,0}}
    {{for paper in papers:}}
        {{if paper.scheduled and paper.schedule_room < len(symposium.rooms):}}
        {"id":{{=paper.id}},
         "start": new Date(year, month, day, {{=paper.schedule_start.hour}}, {{=paper.schedule_start.minute}}),
         "end": new Date(year, month, day, {{=paper.schedule_end.hour}}, {{=paper.schedule_end.minute}}),
         "title": "{{=paper.title}}",
         "userId": {{=paper.schedule_room}}
         },
        {{else:}}
        {"id":{{=paper.id}}, 
            "start": new Date(year,month,day,{{=offseth}},{{=offsetm}}),
            "end": new Date(year,month,day,{{=offseth}},{{=offsetm+15}}), "title": "{{=paper.title}}", "userId": {{=len(symposium.rooms)}}},
            {{
            offsetm+=15
            if offsetm >= 60:
                offseth +=1
                offsetm = 0
                pass
            }}
        {{pass}}
    {{pass}}
       
            ];

    var $calendar = $('#calendar').weekCalendar({
        date: new Date("{{=symposium.event_date}}"),
        readonly: true,
        timeslotsPerHour: 4,
        timeslotHeight: 30,
        scrollToHourMillis: 0,
        defaultEventLength: 1,
        height: function($calendar){ return 500; },
        eventClick: function(calEvent, element, freeBusyManager, $calendar, DomEvent){location.href="{{=URL("papers","view")}}/"+calEvent.id},
        data: function(start, end, callback) {
            callback({events: my_data});
        },
        users: {{=XML(symposium.rooms+[T("Not Yet Scheduled").xml()],False)}},
        showAsSeparateUser: true,
        displayOddEven: true,
        daysToShow: 1,
        headerSeparator: ' ',
    });
});

</script>

<div id="cal_msg"></div>
<div id="calendar"></div>
