<html>
<head><title>ABSTRACT: {{=paper.title}}</title></head>
<body>
<center>
<h1>{{=paper.title}}</h1>

{{for a,s in zip(PAPER_ASSOCIATIONS, PAPER_ASSOCIATIONS_PL):}}
    {{people = db( (db.paper_associations.paper == paper) & (db.paper_associations.type==a)).select()}}
    {{if people:}}
    {{=B(s)}}
    <p>
        {{for x in people:}}
        {{usr = db.auth_user(x.person)}}
        {{=usr.first_name}} {{=usr.last_name}}. <i>{{=x.person_association}}</i>, {{=usr.email}}.<br />
        {{pass}}
    </p>
    {{pass}}
{{pass}}
</center>
{{=MARKMIN(paper.description)}}
</body>
</html>
