{{extend 'layout.html'}}

{{=DIV(T("Steps: "),
    B(T("Create/Edit Paper")),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    A(T("Submit for Approval"), _href=URL('papers','submit_for_approval', args=paper.id)),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}

<h1>{{=T("Edit Paper")}}</h1>
{{=T("Abstract Preview")}}
<div style="border: 1px solid #000;">
{{=LOAD("papers","abstract", args=paper.id)}}
</div>
{{=form}}

{{=DIV(T("Steps: "),
    B(T("Create/Edit Paper")),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    A(T("Submit for Approval"), _href=URL('papers','submit_for_approval', args=paper.id)),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
