{{extend 'layout.html'}}
<style type="text/css">
    .paper_member_img{
        width: 75px; height: 75px; float: left; text-align: center; padding-right: 10px;
    }

    .paper_member_ctr{
        clear: left; height: 75px;
    }
</style>

{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    B(T("Manage Authors & Mentors")),
    T(" --> "),
    A(T("Submit for Approval"), _href=URL('papers','submit_for_approval', args=paper.id)),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}

<h1>{{=paper.title}}</h1>
{{=T("Abstract Preview")}}
<div style="border: 1px solid #000;">
{{=LOAD("papers","abstract", args=paper.id)}}
</div>
<table width="100%">
<tr>

{{added_users=[]}}
{{for a,s in zip(PAPER_ASSOCIATIONS, PAPER_ASSOCIATIONS_PL):}}
<td>{{=H2(s)}}
{{back="fff"}}

{{for x in db( (db.paper_associations.paper == paper) & (db.paper_associations.type==a)).select():}}
{{usr=db.auth_user(x.person)}}
{{added_users.append(usr.id)}}
{{back = "fff" if back == "eee" else "eee"}}
<div class="paper_member_ctr" style="background: #{{=back}};">
    <div class="paper_member_img">
        {{=IMG(_src=(URL('default','thumb',args=[75,75,usr.profile_picture]) if usr.profile_picture else URL('static','images/no-photo.png')))}}
    </div>
    <div>
        {{=usr.first_name}} {{=usr.last_name}}<br />
        {{=A(x.person_association, _href=URL('edit_association',args=[paper.id,x.id])+"?KeepThis=true&TB_iframe=true&height=200&width=450", _class="thickbox")}}</div>
    {{=A(SPAN(_class="icon cross"), T("Remove as %s" % a), _href=URL('papers','rem_by_id', args=[paper.id, a, usr.id]), _class="button negative")}}
</div>
{{pass}}
</td>
{{pass}}
</tr></table>
<hr>
<h1>{{=T("Add Paper Associations")}}</h1>
<script type="text/javascript">

var added_users = [{{=",".join([str(x) for x in added_users])}}];
pending_request = false;
function pull_choices(){
    if( pending_request ){
        pending_request.abort();
    }

    request_url = "{{=URL('people','search_api', extension='json')}}?search=" + escape($('#search_name').val()) ;
    $("#search_return").html("{{=T("Loading...")}}");
    backgrd = "fff";
    pending_request = $.getJSON(request_url, function(data){
        if(data){
            if( data.result.length > 0){
                 $("#search_return").html("");
                 $.each(data.result, function(key,val){
                     if(val['profile_picture']){
                         img_url = "{{=URL('default','thumb',args=[75,75])}}/" + val['profile_picture'];
                     }else{
                         img_url = "{{=URL('static','images/no-photo.png')}}";
                     }

                    backgrd = (backgrd == "fff")?"eee":"fff";
                    if( added_users.indexOf(val['id']) == -1 ){
                        author_link = "";

                        {{for atype in PAPER_ASSOCIATIONS:}}
                        author_link += "<a class='button' href='{{=URL('papers','add_by_id',args=[paper.id, atype])}}/" +
                                    val['id'] + "?s=" + escape($("#search_name").val()) + "'>" +
                                "<span class='icon plus'></span>{{=T("Add as %s") % atype}}</a>";
                         {{pass}}
                    }else{
                        author_link = "{{=B(T("Added To Paper"))}}";
                    }

                    $("#search_return").append("<div class='paper_member_ctr' style='background: #" + backgrd + ";'>" +
                        "<div class='paper_member_img'><img src='"+img_url+"'></div>" +
                        "<div>" +
                            val['first_name'] + " " + val['last_name'] + "<br />" + val['affiliation'] +
                        "</div>" + author_link + "</div>")
                });

            }else{
                $("#search_return").html("{{=T("No users found.")}}");
            }
            
             {{OutDIV = DIV(T("They do not have an account? "))}}
             {{for atype in PAPER_ASSOCIATIONS:}}
                 {{OutDIV.append(
                     A(SPAN(_class="icon user"), T("Create New %s") % atype, _class="button left thickbox",
                  _href=URL("papers","register_user", args=[paper.id,atype])+"?KeepThis=true&TB_iframe=true&height=200&width=450"))}}
             {{pass}}

            $("#search_return").append('{{=OutDIV}}');
            tb_init("#search_return a.thickbox");
        }else{
            $("#search_return").html("{{=T("Search Failed")}}");
        }
    });
}
</script>

<form onsubmit="return false;">
Search: <input type="text" id="search_name" onkeyup="javascript:pull_choices();" value="{{=session.s_val or ""}}">
</form>
<div id="search_return">{{=T("Search for members above. If they are not in the system you will be given the option to add them.")}}</div>

{{if session.s_val:}}
<script type="text/javascript">$("#search_name").val(unescape("{{=session.s_val}}")); pull_choices();</script>
{{del session.s_val}}
{{pass}}
<br/>
{{=INPUT(_type="button", _value=T("Save and Continue"), _onClick="javascript:document.location = '" + URL('papers','submit_for_approval', args=paper.id) + "';")}}
<br/><br/>
{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    B(T("Manage Authors & Mentors")),
    T(" --> "),
    A(T("Submit for Approval"), _href=URL('papers','submit_for_approval', args=paper.id)),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
