{{right_sidebar_enabled=False}}
{{response.files.insert(2,URL('static','js/jquery.dataTables.min.js'))}}
{{response.files.insert(3,URL('static','js/ColVis.min.js'))}}
{{response.files.insert(4,URL('static','js/jquery.dataTables.rowGrouping.js'))}}
{{response.files.insert(5,URL('static','js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(6,URL('static','data_table.css'))}}
{{extend 'layout.html'}}
<style>
table tfoot input, table tfoot select{
width: 100%;
}
</style>

<script type="text/javascript" charset="utf-8">
    var oTable;

    $(document).ready(function() {
           oTable = $('#papers_dataTable').dataTable( {
                //"bPaginate": false,
                //"bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "sDom": 'C<"clear">lfrtip',
                "bAutoWidth": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 25,
                "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 0 ] }
                ],

            }).columnFilter({
                    aoColumns: [null,
                                { type: "text" },
                                {{if all:}}
                                { type: "select", 
                                  values: ['{{=XML("','".join([ db.symposium._format % x for x in db(db.symposium.id>0).select()]))}}'] },
                                  {{else:}}
                                  null,
                                  {{pass}}
                                { type: "select", values: ['{{=XML("','".join([ x.xml() for x in PAPER_CATEGORY]))}}'] },
                                { type: "select", values: ['{{=XML("','".join([ x.xml() for x in PRESENTATION_FORMAT]))}}'] },
                                null,
                                null,
                                {{if c_show_moderation:}}
                                { type: "select", values: ['{{=XML("','".join([ x.xml() for x in PAPER_STATUS]))}}'] },
                                {{pass}}
                                ]
                });

            {{if all:}}
            oTable.rowGrouping({"iGroupingColumnIndex":2});
            {{pass}}

    } );
</script>

<h1>{{=T("Papers")}}</h1>
{{if auth.has_membership("Symposium Admin"):}}
    {{if not c_show_moderation:}}
        {{=A(T("Goto Admin Mode (View All Papers, including incomplete papers)"), _href=URL('admin_index', args=request.args))}}
    {{else:}}
        {{=A(T("Goto Normal Mode (View only approved papers)"), _href=URL('index', args=request.args))}}
    {{pass}}
{{pass}}


<table id="papers_dataTable" width="100%">
    <thead>
        <tr>
            <th width="25px;"></th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.symposium.label}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
            {{if c_show_moderation:}}<th>{{=db.paper.status.label}}</th>{{pass}}
        </tr>
    </thead>
    <tbody>
        {{for paper in papers:}}
        <tr>
            <td align="center">
                <img
                    src="{{=URL('static','images/details_open.png')}}"
                    onclick="toggle_details(this,'{{=URL('papers','view',args=paper.id, vars={'minview':True})}}')">
            </td>
            <td>
                {{=A(paper.title, _href=URL('papers','view',args=paper.id))}}
            </td>
            <td>
                {{=db.symposium._format % paper.symposium}}
            </td>
            <td>
                {{=paper.category}}
            </td>
            <td>
                {{=paper.format}}
            </td>
            <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.authors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
           <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.mentors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
           {{if c_show_moderation:}}<td>{{=paper.status}}</td>{{pass}}
        </tr>
        {{pass}}
    </tbody>
    <tfoot>
        <tr>
            <th width="25px;"></th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.symposium.label}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
            {{if c_show_moderation:}}<th></th>{{pass}}
        </tr>
    </tfoot>
</table>
