{{right_sidebar_enabled=False}}
{{response.files.insert(2,URL('static','js/jquery.dataTables.min.js'))}}
{{response.files.insert(3,URL('static','js/ColVis.min.js'))}}
{{response.files.insert(4,URL('static','js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(5,URL('static','data_table.css'))}}
{{extend 'layout.html'}}
<style>
table tfoot input, table tfoot select{
width: 100%;
}
table thead, table tfoot{
font-size:70%;
}
</style>
<script type="text/javascript" charset="utf-8">
    var oTable;

    $(document).ready(function() {
        oTable = $('#review_dataTable').dataTable( {
                        "bFilter": true,
                        "bSort": true,
                        "bInfo": true,
                        "sDom": 'C<"clear">lfrtip',
                        "iDisplayLength": 25,
                        "aoColumnDefs": [
                                { "bSortable": false, "aTargets": [ 0 ] }
                        ],
                        "aaSorting": [[1, 'asc']],
                        "aLengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]]
                        } ).columnFilter({
                    aoColumns: [null,
                                { type: "text" },
                                {{if all:}}
                                { type: "select", 
                                  values: ['{{=XML("','".join([ db.symposium._format % x for x in db(db.symposium.id>0).select()]))}}'] },
                                  {{else:}}
                                  null,
                                  {{pass}}
                                { type: "select", values: ['{{=XML("','".join(
                                    set([db.category._format % x for x in db(db.category.id > 0).select()])))}}'] },
                                { type: "select", values: ['{{=XML("','".join(
                                    set([db.format._format % x for x in db(db.format.id > 0).select()])))}}'] },
                                null,
                                null,
                                ]
                });;
    } );

</script>

<h1>{{=T("Review Paper")}}</h1>
{{=plugin_wiki.embed_page('review_paper_list') or ""}}
{{if papers:}}
<table id="review_dataTable" width="100%">
    <thead>
        <tr>
            <th width="25px;">Review</th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.symposium.label}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
        </tr>
    </thead>
    <tbody>
        {{for paper in papers:}}
        <tr>
            <td align="center">
                <img
                    src="{{=URL('static','images/details_open.png')}}"
                    onclick="toggle_details(this,'{{=URL('papers','review',args=paper.id)}}')">
            </td>
            <td>
                {{=paper.title}}
            </td>
            <td>
                {{=db.symposium._format % paper.symposium}}
            </td>
            <td>
                {{=db.category._format % db.category[paper.category]}}
            </td>
            <td>
                {{=db.format._format % db.format[paper.format]}}
            </td>
            <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.authors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
           <td>
                <ul>
                {{for x in [db.auth_user(y) for y in paper.mentors]:}}
                    <li>{{=A( db.auth_user._format % x, _href=URL("people","profile",args=x.id), _title=x.search_name)}}</li>
               {{pass}}
               </ul>
           </td>
        </tr>
        {{pass}}
    </tbody>
    <tfoot>
        <tr>
            <th width="25px;"></th>
            <th>{{=db.paper.title.label}}</th>
            <th>{{=db.paper.symposium.label}}</th>
            <th>{{=db.paper.category.label}}</th>
            <th>{{=db.paper.format.label}}</th>
            <th>{{=db.paper.authors.label}}</th>
            <th>{{=db.paper.mentors.label}}</th>
        </tr>
    </tfoot>
</table>
</table>
{{else:}}
{{=P(T("No papers ready for review"))}}
{{pass}}
