{{extend 'layout.html'}}
<style>
    div.step, div.inactivestep{
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid black;
        margin: 15px;
        background: #eee;
    }
    
    input[type="submit"]{
        color: #900;
        border: 1px solid #900;
        font-weight: bold;
        padding: 4px;
    }
    
    div.step > h1{
        -moz-border-radius: 15px 0px 15px 0px;
        border-radius: 15px 15px 0px 0px;
        border-bottom: 1px solid black;
        background: #ccc;
        padding: 0px;
        margin: 0px;
    }
    
    div.inactivestep{
        opacity: .5;
    }
</style>

{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    B(T("Submit for Approval")),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
<h1>{{=T("Ready For Approval?")}}</h1>
{{=plugin_wiki.embed_page('submit_paper_for_approval') or ""}}

<div class="inactivestep">
    <h1>{{= A(T("Step 1: Create/Edit Paper"), _href=URL('papers','edit', args=paper.id))}}</h1>
</div>

<div class="inactivestep">
    <h2>{{=A(T("Step 2: Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id))}}</h2>
</div>


<div class="step">
<h1>Step 3: Submit for Approval</h1>
{{=form}}

{{=T("Abstract Preview")}}
<div style="border: 1px solid #000; background: #fff; padding: 5px; margin: 10px;">
{{=LOAD("papers","abstract", args=paper.id)}}
</div>

</div>

{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    B(T("Submit for Approval")),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
