{{extend 'layout.html'}}
{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    B(T("Submit for Approval")),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
<h1>{{=T("Ready For Approval?")}}</h1>
{{=plugin_wiki.embed_page('submit_paper_for_approval') or ""}}

{{=form}}

{{=T("Abstract Preview")}}
<div style="border: 1px solid #000;">
{{=LOAD("papers","abstract", args=paper.id)}}
</div>

{{=DIV(T("Steps: "),
    A(T("Create/Edit Paper"), _href=URL('papers','edit', args=paper.id)),
    T(" --> "),
    A(T("Manage Authors & Mentors"), _href=URL('papers','edit_members', args=paper.id)),
    T(" --> "),
    B(T("Submit for Approval")),
    T(" --> "),
    A(T("Back to Manage Papers"), _href=URL('papers','edit')),
)}}
